:root {
  --primary-color: #919699;
  --secondary-color: #86b89b;
  --background-light: #dedcdc;
  --background-dark: #4e4e4e;
  --text-light: #333;
  --text-dark: #ced3a9;
  --transition-speed: 0.3s;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}

.light-mode {
  background-color: var(--background-light);
  color: var(--text-light);
}

.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.post-card {
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color var(--transition-speed),
    color var(--transition-speed);
}

.dark-mode .post-card {
  background-color: black;
  color: var(--text-dark);
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

button {
  cursor: pointer;
  transition: background-color var(--transition-speed),
    transform var(--transition-speed);
}

button:hover {
  transform: translateY(-2px);
}

@media (max-width: 768px) {
  .container {
    width: 95%;
    padding: 10px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

.comment-enter {
  animation: fadeIn 0.5s ease-out;
}

.comment-exit {
  animation: fadeOut 0.5s ease-in;
}

body {
  font-family: Roboto;
  line-height: 1.6;
}

/* Ensure PostDetail text content doesn't disappear off the right of the page */
.post-detail-container .post-content {
  word-wrap: break-word; /* Break long words */
  overflow-wrap: break-word; /* Break long words */
  white-space: pre-wrap; /* Preserve whitespace and wrap text */
  max-width: 100%; /* Ensure content doesn't overflow */
  overflow: hidden; /* Hide any overflowing content */
}
