/* Navigation.css */
.navbar {
  background-color: var(--primary-color);
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dark-mode .navbar {
  background-color: black;
  color: wheat;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
.nav-container {
  display: flex;
  align-items: center;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  gap: 10px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color var(--transition-speed);
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.search-form {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.search-form input {
  padding: 5px 10px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.search-form button {
  background-color: var(--secondary-color);
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 5px 10px;
  transition: background-color var(--transition-speed);
}

.search-form button:hover {
  background-color: #27ae60;
}

.theme-toggle {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  margin-left: 10px;
  transition: color var(--transition-speed);
}

.theme-toggle:hover {
  color: var(--secondary-color);
}
